.shareWrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  & > .swiperWrapper {
    background-color: royalblue;
    width: 360px;
  }
}
